@model Task45.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
}

<!--<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname"></label><br />
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>-->

<link rel="stylesheet" type="text/css" href="~/css/sign-base.css">
<div class="container-fluid">

    <div class="container">
        <div class="row justify-content-center">
            <div class="card" style="width: 36rem;">
                <form class="card-body" asp-controller="Account" asp-action="Register" method="POST">
                    <h1 class="card-title text-center mt-5 mb-4">REGISTER</h1>
                    <span asp-validation-for="Name"></span>
                    <input type="text" class="form-control mb-4" asp-for="Name" placeholder="Name">
                    <span asp-validation-for="Surname"></span>
                    <input type="text" class="form-control mb-4" asp-for="Surname" placeholder="Surname">
                    <span asp-validation-for="Email"></span>
                    <input type="email" class="form-control mb-4" asp-for="Email" placeholder="E-mail">
                    <span asp-validation-for="Password"></span>
                    <input type="password" class="form-control mb-3" asp-for="Password" placeholder="Password">
                    <button type="submit" class="btn btn-primary w-100 p-2 mb-2">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>

</div>